extends layout

block content
    h1 #{title}
    ul.list-group
        if user
            form(method='POST', action='/addItem')
                #form-group
                    label Recyle Location:
                    input.form-control(name='locname', type='text')
                #form-group
                    label Type:
                    input.form-control(name='type', type='text')
                #form-group
                    label Quanity:
                    input.form-control(name='qnty', type='number')
                br
                input.btn.btn-primary(type='submit', value='Submit')