extends layout

block content
    h1 #{title}
    ul.list-group
        if user
            ul.list-group
                each r, i in recycles
                    if (r.creator == user._id)
                        li.list-group-item= r.locname
            form(method='POST', action='/addItem')
                #form-group
                    label Recyle Location:
                    input.form-control(name='locname', type='text')
                #form-group
                    label Type:
                    input.form-control(name='type', type='text')
                #form-group
                    label Quanity:
                    input.form-control(name='qnty', type='number')
                br
                input.btn.btn-primary(type='submit', value='Submit')
        else
            h4 Please Sign in to Add Recycle Items