<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="connecting an Azure MySQL DB with this node app">
	  <meta name="keywords" content="sample web app for hackathon">
  	<meta name="author" content="Tyler Angelier">
    <title>NodeJS Sample App | Welcome</title>
    <link rel="stylesheet" href="../../css/stylesheet.css">
		<script
		  	src="https://code.jquery.com/jquery-1.12.4.js"
		 	integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
		  	crossorigin="anonymous"></script>
	  	<script src="js/main.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">NodeJS</span> Sample App</h1>
        </div>
        <nav>
          <ul>
            <!-- TODO: add button from logo -->
            <li class="current"><a href="index.html">Home</a></li>

            <li><a href="about.html">Projects</a></li>
            <li><a href="services.html">Forum</a></li>
            <li><a href="index.html">Events</a></li>
            <li><a href="about.html">Guides</a></li>
            <li><a href="services.html">About</a></li>
          </ul>
        </nav>
      </div>
    </header>
