<% include partials/header %>
  <h1><%= title %></h1>
  <ul>
    <% customers.forEach(function(customer){ %>
      <li value="<%= customer %>" name="<%= customer %>"><%= customer %></li>
    <% }) %>
  </ul>
<% include partials/footer %>
