/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-font-size: 10.5pt;
    -fx-font-family: "High Tower Text";
    -fx-base: rgb(198, 198, 198);
    -fx-background: rgb(226, 240, 255);
}

#border-textArea{
	-fx-border-color: rgb(142,142,142);
	-fx-border-width: 4;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
#user-name {
    -fx-font-size: 20pt;
    -fx-background-color: rgb(200,200,200);
    -fx-background-radius: 20;
    -fx-label-padding: 7;
}

.default-color0.chart-series-line { -fx-stroke: #e83737; }
.default-color1.chart-series-line { -fx-stroke: #537f4b; }
.default-color0.chart-line-symbol { -fx-background-color: #e83737, white; }
.default-color1.chart-line-symbol { -fx-background-color: #537f4b, white; }

.chart-legend{
	-fx-background-color: rgb(200,200,200);
	-fx-padding: 10px;
}

#slider-label{
	-fx-font-size: 15pt;
	-fx-background-color: rgb(200,200,200);
	-fx-background-radius: 20;
	-fx-label-padding: 7;
}/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */